.flex { display: flex;}

.row { flex-direction: row;}

.column { flex-direction: column;}

.ai-center { align-items: center;}

.ai-start { align-items: flex-start;}

.jc-center { justify-content: center;}

.jc-start { justify-content: flex-start;}

.jc-around { justify-content: space-around;}

.jc-between { justify-content: space-between;}

.jc-evenly { justify-content: space-evenly;}

.padding {
    padding: 25px 75px 0px 75px !important;
}

.poster {
    width: 100% !important;
    height: 700px !important;
}

.name {
    text-align: center !important;
    position: relative;
    bottom: 130px !important;
}

.relative {
    position: relative;
    bottom: 60px !important;
}

.image-item {
    width: 380px;
    height: 100% !important;
}

.image-block {
    height: 250px;
}

.padding-skills {
    padding: 0px 30px !important;
}

.h-about { min-height: 86vh; }

@media (320px <= width <= 600px) {
    .logo {
        width: 40px !important;
        height: 40px !important;
    }

    .bardo {
        font-size: 25px !important;
    }

    .bardo-2 {
        font-size: 20px !important;
    }

    .bardo-3 {
        font-size: 42px !important;
    }

    .a-header {
        font-size: 12px !important;
    }

    .padding {
        padding: 5px 10px 0px 10px !important;
    }

    .poster {
        width: 100% !important;
        height: 280px !important;
    }

    .name {
        text-align: center !important;
        position: relative;
        bottom: 0px !important;
    }
    
    .relative {
        bottom: 0px !important;
    }

    .row-xs { flex-direction: column;}

    .w-50 {
        width: 95% !important;
    }

    .mb-xs {
        margin-bottom: 12px !important;
    }

    .w-400p{
        width: 90% !important;
    }

    .w-500p{
        width: 90% !important;
    }

    .image-item {
        width: 300px;
        height: 220px;
    }

    .image-block {
        height: auto;
    }

    .padding-skills {
        padding: 0px !important;
    }

    .w-xs {
        max-width: 100% !important;
        padding: 0px 8px !important;
    }
}

@media (601px <= width <= 900px) {
    .bardo-2 {
        font-size: 20px !important;
    }

    .bardo-3 {
        font-size: 42px !important;
    }

    .a-header {
        font-size: 12px !important;
    }

    .padding {
        padding: 10px 20px 0px 20px !important;
    }

    .poster {
        width: 100% !important;
        height: 280px !important;
    }

    .name {
        text-align: center !important;
        position: relative;
        bottom: 0px !important;
    }
    
    .relative {
        bottom: 0px !important;
    }

    .row-xs { flex-direction: column;}

    .w-50 {
        width: 95% !important;
    }

    .mb-xs {
        margin-bottom: 12px !important;
    }

    .w-400p{
        width: 90% !important;
    }

    .w-500p{
        width: 90% !important;
    }

    .image-item {
        width: 450px;
        height: 370px;
    }

    .image-block {
        height: auto;
    }

    .padding-skills {
        padding: 0px !important;
    }
}

@media (901px <= width <= 1200px) {
    .image-item {
        width: 230px;
        height: 100% !important;
    }
    
    .image-block {
        height: 160px;
        margin-bottom: 15px !important;
    }
}

@media (width > 1200px) {
    .image-item {
        width: 32%;
        max-width: 550px !important;
        height: 100% !important;
    }
    
    .image-block {
        height: 250px;
        margin-bottom: 15px !important;
    }

    .h-500p {
        height: 80% !important;
    }
}